@import "@economist/component-teaser";

.teaser-list {
  font-size: 1rem;
}

.teaser-list .teaser {
  padding: var(--grid-spacing-donkey) 0;
}

.teaser-list .teaser + .teaser {
  border-top: solid 1px var(--color-london);
}
